

body {

}

img {
  width: 200px; 
  height: 200px;
  margin: 15px; 
  padding: 0; 
}

button {

}

.content-container {
  
}

.product-display {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

.product-card {
  margin: 10px; 

}